<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="http://www.photops.com/Photo/UpPhoto2010/201106/2011060409214653.jpg">
    <h1><%= title %></h1>
    <% if(who){ %>
    <p>你好! <%=who %></p>
    <a href="/articles">發表文章<a>
    <% } else { %>

    <form method="post" action="/verify">
      <p>
        名稱：<input type="text" id="username" name="username" />
        <input type="submit" value="登入"/>
      </p>
    </form>
    <% } %>
  </body>
</html>
